* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --tuna: rgb(53, 56, 65);
    --sienna: rgb(237, 104, 100);
    --french: rgb(186, 186, 188);
    --jumbo: rgb(120, 120, 123);
    --my_goldenrod: rgb(252, 214, 108);
    --tabasco: rgb(146, 52, 15);
    --rosefog: rgb(235, 202, 197);
    --makara: rgb(141, 124, 109);
    --edward: rgb(161, 171, 169);
    --regent: rgb(140, 154, 165);
    --chateau: rgb(162, 171, 174);
    --sambuca: rgb(61, 37, 18);
    --thunder: rgb(23, 18, 22);
    --putty: rgb(233, 200, 153);
  }

  .transparent-button {
    background-color: transparent;
    padding: 8px;
    color: white;
  }

  .transparent-yellow-button {
    background-color: transparent;
    padding: 8px;
    color: var(--my_goldenrod);
  }

  .yellow-button {
    background-color: var(--my_goldenrod);
    padding: 8px 15px;
    color: white;
    font-size: 0.9rem;
  }
  
  ul {
    list-style: none;
  }

  .underliner {
    border: solid 2px var(--my_goldenrod);
    width: 150px; 
  }